body {
	background-color: #35D5DA;
	height:100%;
	padding: 0;
	margin: 0;
	margin-top: 5%;
	text-align: center;
}

#container {
	min-height:100%;
	position: relative;
}

#picture-container {
	width:968px;

	position: relative;

	margin-top: -2%;
	margin-left: auto;
	margin-right:auto;
}

#time-line {
	width:968px;
	height: 10%;

	overflow: hidden;

	margin-left: auto;
	margin-right: auto;
}

#base {
	position: absolute;
	left: 20%;
}

.dash {
	height: 120px;
	width: 56px;

	border-radius: 50px;
	-moz-border-radius: 20px;

	background-color: red;
}


#tagImage {
	height: 400px;
	width: 400px;
}

#story-box {
	background-color: #eee;

	padding: 20px;
	width: 968px;

	height: 25%;

	margin-top:15%;
	margin-left: auto;
	margin-right:auto;

	text-align: center;

	border-radius: 15px;
	-moz-border-radius: 15px;
}

#story-box-chemistry {
	background-color: #eee;

	padding: 20px;
	width: 968px;

	height: 25%;

	margin-top:5%;
	margin-left: auto;
	margin-right:auto;

	text-align: center;

	border-radius: 15px;
	-moz-border-radius: 15px;
}

#node0 {
	position: absolute;
	left: 25%;
}

#node1 {
	position: absolute;
	left: 30%;
}

#node2 {
	position: absolute;
	left: 35%;
}

#node3 {
	position: absolute;
	left: 40%;
}

#node4 {
	position: absolute;
	left: 45%;
}

#node5 {
	position: absolute;
	left: 50%;
}

#node6 {
	position: absolute;
	left: 55%;
}

#node7 {
	position: absolute;
	left: 60%;
}

#node8 {
	position: absolute;
	left: 65%;
}

#node9 {
	position: absolute;
	left: 70%;
}
